[submodule "vim/vim.symlink/bundle/Vundle.vim"]
path = vim/vim.symlink/bundle/Vundle.vim
url = https://github.com/VundleVim/Vundle.vim
[submodule "nvim/config"]
	path = nvim/config
	url = https://github.com/NvChad/NvChad
