<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.E747ED88-CD44-4271-8712-DC1079EF059E</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.8BCD9290-4B4A-47EE-AEF0-96083F566D97</string>
</dict>
</plist>
