<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.fileimport.6073DD13-C06A-47B2-987A-FBA1919C0B60</string>
	<key>darkthemeuid</key>
	<string>theme.urlimport.FE821AC6-571B-4892-A37F-C0D352C7C90A</string>
</dict>
</plist>
