<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.lachlan.githubjump</string>
	<key>connections</key>
	<dict>
		<key>03F96C02-45F2-4107-AAE4-6DAA5A94974F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC294EDC-565E-48AE-BF28-19E2B1C649C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>550D97C0-A2B2-4A54-A472-F2AA760D121C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF16946F-5549-4D50-A0FB-EFEE63A28F89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7923EB7F-E802-4477-AA30-69CCE3280401</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DB65878-E299-48D1-AB9F-6AB104C82B04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84DAF9C0-AAF6-41D1-BE08-086FB0825C01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6592B53-3D1B-4A93-A934-2F5EF9E857D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8560A3F6-8568-45B9-A13D-57231ACC85AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF16946F-5549-4D50-A0FB-EFEE63A28F89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>919FBCA7-0737-43C1-968E-A0567B0A9D10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34960D5E-4E8A-4454-95A0-FF1B28BC440B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95AA7FC5-D517-4A32-BB9F-8A2909D4CA61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AD13AA0-0C4B-4D09-86A4-1D51B1219BA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF799DDB-E900-413C-A3BC-4DB4A23EB3D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>829919F5-D168-45B6-890E-378D19027890</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C15C742F-AA84-4FE7-867F-BFE34CF19F82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>204E002A-0AB3-45C1-9250-2EFEE0C4FEBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD80C666-6285-4259-ADE4-28924A0C86AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03F96C02-45F2-4107-AAE4-6DAA5A94974F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEDD9AB1-1368-478B-8DE4-27904CF85274</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D145B7E0-0F76-4A50-9069-B543184A20E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF16946F-5549-4D50-A0FB-EFEE63A28F89</key>
		<array/>
		<key>E6592B53-3D1B-4A93-A934-2F5EF9E857D1</key>
		<array/>
		<key>EC294EDC-565E-48AE-BF28-19E2B1C649C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7923EB7F-E802-4477-AA30-69CCE3280401</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D9FF428-67BF-4EEA-AA91-2ADD4D09A9FF</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Clone to ~/src/clones</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C15C742F-AA84-4FE7-867F-BFE34CF19F82</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Issues</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>919FBCA7-0737-43C1-968E-A0567B0A9D10</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>New issue</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>95AA7FC5-D517-4A32-BB9F-8A2909D4CA61</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open PRs</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CEDD9AB1-1368-478B-8DE4-27904CF85274</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Search files</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lachlan Donald</string>
	<key>description</key>
	<string>Search / Open Recent Github Repos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Jump</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6DB65878-E299-48D1-AB9F-6AB104C82B04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}#readme</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7923EB7F-E802-4477-AA30-69CCE3280401</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>search repos</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CD80C666-6285-4259-ADE4-28924A0C86AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading github repositories</string>
				<key>script</key>
				<string>./alfred-github-jump repos "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump to a Github Repository</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EC294EDC-565E-48AE-BF28-19E2B1C649C0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "title" : "",
      "runningsubtext" : "",
      "subtext" : ""
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>03F96C02-45F2-4107-AAE4-6DAA5A94974F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ~/src/clones/
git clone {query}

# TODO: does't work because SSL issue. test it after
# /usr/local/bin/code "${query##*/}" # Open the cloned repo</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D9FF428-67BF-4EEA-AA91-2ADD4D09A9FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:issues}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>204E002A-0AB3-45C1-9250-2EFEE0C4FEBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>issues</key>
					<string>{query}/issues</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C15C742F-AA84-4FE7-867F-BFE34CF19F82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>new</key>
					<string>{query}/issues/new</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>919FBCA7-0737-43C1-968E-A0567B0A9D10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:new}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>34960D5E-4E8A-4454-95A0-FF1B28BC440B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:pulls}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7AD13AA0-0C4B-4D09-86A4-1D51B1219BA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>pulls</key>
					<string>{query}/pulls</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>95AA7FC5-D517-4A32-BB9F-8A2909D4CA61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>searchFiles</key>
					<string>{query}/find/master</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CEDD9AB1-1368-478B-8DE4-27904CF85274</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:searchFiles}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D145B7E0-0F76-4A50-9069-B543184A20E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>update repos</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8560A3F6-8568-45B9-A13D-57231ACC85AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-github-jump update</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CF16946F-5549-4D50-A0FB-EFEE63A28F89</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh &gt; update</string>
				<key>subtext</key>
				<string>Github Jump</string>
				<key>text</key>
				<string>Update Github Repositories</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>550D97C0-A2B2-4A54-A472-F2AA760D121C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:wiki}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>829919F5-D168-45B6-890E-378D19027890</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>wiki</key>
					<string>{query}/wiki</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BF799DDB-E900-413C-A3BC-4DB4A23EB3D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh &gt; login</string>
				<key>subtext</key>
				<string>Github Jump</string>
				<key>text</key>
				<string>Login to Github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>84DAF9C0-AAF6-41D1-BE08-086FB0825C01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-github-jump login</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E6592B53-3D1B-4A93-A934-2F5EF9E857D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>03F96C02-45F2-4107-AAE4-6DAA5A94974F</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>1D9FF428-67BF-4EEA-AA91-2ADD4D09A9FF</key>
		<dict>
			<key>note</key>
			<string>Clone to ~/src/clones and open</string>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>204E002A-0AB3-45C1-9250-2EFEE0C4FEBE</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>34960D5E-4E8A-4454-95A0-FF1B28BC440B</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>550D97C0-A2B2-4A54-A472-F2AA760D121C</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>6DB65878-E299-48D1-AB9F-6AB104C82B04</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>7923EB7F-E802-4477-AA30-69CCE3280401</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>7AD13AA0-0C4B-4D09-86A4-1D51B1219BA2</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>829919F5-D168-45B6-890E-378D19027890</key>
		<dict>
			<key>xpos</key>
			<integer>1240</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>84DAF9C0-AAF6-41D1-BE08-086FB0825C01</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
		<key>8560A3F6-8568-45B9-A13D-57231ACC85AC</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>919FBCA7-0737-43C1-968E-A0567B0A9D10</key>
		<dict>
			<key>note</key>
			<string>Open new issue</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>95AA7FC5-D517-4A32-BB9F-8A2909D4CA61</key>
		<dict>
			<key>note</key>
			<string>Open pull requests</string>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>BF799DDB-E900-413C-A3BC-4DB4A23EB3D9</key>
		<dict>
			<key>note</key>
			<string>open wiki</string>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>C15C742F-AA84-4FE7-867F-BFE34CF19F82</key>
		<dict>
			<key>note</key>
			<string>Open issues</string>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>CD80C666-6285-4259-ADE4-28924A0C86AC</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>CEDD9AB1-1368-478B-8DE4-27904CF85274</key>
		<dict>
			<key>note</key>
			<string>Search files</string>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>CF16946F-5549-4D50-A0FB-EFEE63A28F89</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>D145B7E0-0F76-4A50-9069-B543184A20E3</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>E6592B53-3D1B-4A93-A934-2F5EF9E857D1</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>950</integer>
		</dict>
		<key>EC294EDC-565E-48AE-BF28-19E2B1C649C0</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/lox</string>
</dict>
</plist>
